<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <p>Hello</p>

    <form action="/event/add" method="POST">
        <label for="event_name">Nom de l'événement</label>
        <input type="text" class="event_input" name="nom">
        <label for="event_name">Lieu</label>
        <input type="text" class="event_input" name="place">
        <button type="submit" class="btn btn-primary btn-md">Valider</button>
        <p>Welcome {{name}}!!!</p>

        <ul>
            {{#eventsList}}
            <li>{{name}}
                <li>{{place}}</li>
            </li>
            {{/eventsList}}
        </ul>


    </form>
    <script>
    </script>
</body>

</html>