<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lobster|Zilla+Slab+Highlight" rel="stylesheet">
    <title>Document</title>

</head>

<body>
    <p>Hello {{name}}!</p>

    <form method="POST" action="/event/add">
        <label for="event_name">Nom de l'événement</label>
        <input type="text" class="event_input" name="nom">
        <label for="event_name">Lieu</label>
        <input type="text" class="event_input" name="place">
        <button type="submit" class="valider">Valider</button>
    </form>
    <p>Welcome {{name}}!!!</p>
    <ul>
        {{#eventsList}}
        <li>{{name}}
            <li>{{place}}</li>
            <form method="POST">
                <button class="supp" name="supp">supp</button>
            </form>
        </li>
        {{/eventsList}}

    </ul>

    <script>
        let button = document.querySelector('.valider');
        button.addEventListener, 'click',
            function() {
                let xhr = new XMLHttpRequest();
                xhr.open('POST', '/event/add');
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            console.log(xhr.responseText);
                        } else {
                            console.error('unexpected status code:', this.status);
                        }
                    }
                };
                xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
                xhr.send(null);
            }

        let button1 = document.querySelector('.supp');
        button.addEventListener, 'click',
            function() {
                let xhr = new XMLHttpRequest();
                xhr.open('DELETE', '/event/del', true);
                xhr.onreadystatechange = function() {
                    if (xhr.readyState === XMLHttpRequest.DONE) {
                        if (xhr.status === 200) {
                            console.log(xhr.responseText);
                        } else {
                            console.error('unexpected status code:', this.status);
                        }
                    }
                };

                xhr.send(null);
            }
    </script>

</body>

</html>