<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>new-user</title>
</head>

<body>
    <form action="/user/add" method="post">
        <label for="pseudo">Pseudo</label>
        <input id="pseudo" type="text" name="pseudo">
        <label for="pass">Password</label>
        <input id="pass" type="password" name="password">
        <input type="submit" value="valider">
    </form>

</body>

</html>